@charset "UTF-BR";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    --cor0: #FFFFFF;
    --cor1: rgb(242, 226, 5);
    --cor2: #1d1d1d;
    --cor3: #0e0e0e;
    --cor4: #000000;

    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-righteous: 'Righteous', cursive;
    --fonte-josefin: 'Josefin Sans', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body {
    height: 100vh;
    font-family: var(--fonte-josefin);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: var(--cor3);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
}

header h2 {
    color: var(--cor0);
    font-family: var(--fonte-righteous);
    letter-spacing: 3px;
    width: 150px;
    margin-left: 20px;
    padding: 15px 0;
}

span {
    color: var(--cor1);
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--cor0);
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2.4rem;
    font-family: var(--fonte-righteous);
    letter-spacing: 3px;
}

header nav ul li a:hover {
    color: var(--cor1);
    transition: 0.1s;
}

section.hero {
    margin: 80px 0;
}

section.hero .container {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: flex;
}

h1 {
    color: var(--cor3);
    margin: 20px 0px 20px;
    font-family: var(--fonte-righteous);
    font-size: 95px;
    text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.61);
}

h3 {
    color: var(--cor3);
    font-family: var(--fonte-righteous); 
    letter-spacing: 3px;   
}


h4 {
    color: var(--cor3);
    font-family: var(--fonte-righteous);
    font-size: 25px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

section.hero .container .link a {
    height: 5em;
    width: 5em;
    line-height: 5em;
    padding: 2px;
    font-size: 25px;
    color: var(--cor3);
}

section.hero .container .link a:hover {
    color: var(--cor1);
}

.fa-customize {
    margin: auto;
    font-size: 10em;
    color: var(--cor3);
}

main {
    margin-bottom: 80px;
}

#sobre-mim {
    width: 100%;
    background-color: var(--cor2);
}

.centralizado {
    max-width: 1000px;
    margin: 0 auto;
}

.container-2 {
    padding: 144px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;
}

.imagem {
    width: 323px;
    height: 368px;
    position: relative;
}

main h2 {
    font-size: 60px;
    font-family: var(--fonte-righteous);
    margin: 0px 0 0px 0px;
    color: var(--cor0);
    text-align: center;
    letter-spacing: 5px;
}

.sobre-mim p {
    text-align: justify;
    text-indent: 30px;
    padding-left: 50px;
    padding-top: 6px;
    line-height: 1.5em;
    font-size: 20px;
    max-width: 609.25px;
    color: white;
}

.box h2 {
    font-size: 60px;
    font-family: var(--fonte-righteous);
    color: var(--cor4);
    margin: 50px 0 70px 30px;
    text-align: center;
    letter-spacing: 5px;
}

.box-1, .box-2,.box-3 {
    width: 380px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.box-1 {
    background-image: url("../aladio/imagens/aluraBooks.png");
}

.box-2 {
    background-image: url("../aladio/imagens/analisadorDeNumeros.png");
}

.box-3 {
    background-image: url("../aladio/imagens/jogoNumeroSecreto.png");
}

.box-1:hover {
    transition: 0.4s;
    opacity: .9;
}

.box-2:hover {    
    transition: 0.4s;
    opacity: .9;
}

.box-3:hover {    
    transition: 0.4s;
    opacity: .9;
}

.box-container {
    margin-left: 30px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

footer {
    background-color: var(--cor2);
    color: var(--cor0);
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 5px;
    text-decoration: none;
}